<head>
        <meta charset="utf-8">
        <title>창대학식</title>

        <style type="text/css">
                .outerDiv {
                        width: 90%;
                        margin: 0 auto;
                        background-color: #F8F1F1;
                        padding: 3%;
                }
                html, body {
                  width: 96%;
                  height: 96%;
                  margin: 0;
                  padding: 2%;
                  font-family: 'OTWelcomeRA';
									color: #19456B;
                }
								a {
								  text-decoration-line: none;
								  color: inherit;
								}
                @font-face {
                  font-family: 'OTWelcomeRA';
                  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
                  font-weight: normal;
                  font-style: normal;
                }
        </style>
</head>

<body style="background-color: #16C79A;">
        <div class="outerDiv">
                <div style="font-size: 250%;">
                        창대학식
                </div>
                <div style="font-size: 100%; margin-top: 1%; margin-bottom: 5%;">
                        창원대학교 기숙사 & 봉림관 식단 뷰어 앱
                </div>
								<div style="margin-bottom:5%;">
									<div style="display:inline-block; height:inherit; width:35%;">
										<img src="https://MiscellaneousFiles.b-cdn.net/adImg1.jpeg" width="100%">
									</div>
									<div style="display:inline-block; float:right; width:60%; font-size:150%;">
										대충 설명 들어갈 공간
									</div>
								</div>
								<div style="width:100%; height:inherit; font-size:180%;">
									추가 정보
								</div>
								<div style="width:100%; height:inherit; margin-top:2%;">
									현재 최신 버전은 2.1.1 버전입니다.<br>매주 식단은 월요일 오전 7:00에 업데이트 됩니다.
								</div>
                <a href=<%= @link %>>
                        <div style="background-color: #11698E; width: inherit; height: inherit; padding: 4%; font-size: 120%; color: #F8F1F1; margin: 0 auto; margin-top: 5%; text-align: center;">
                                다운로드
                        </div>
                </a>
  </div>
</body>

